name: Vercel - andresramirez: lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 'notify vercel'
        uses: vercel/repository-dispatch-action@v1
        with:
          name: "Vercel - andresramirez: lint"
          token: ${{ secrets.VERCEL_TOKEN }}
