name: Vercel Deployment Checks

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run lint check
        run: npm run lint

      - name: "notify vercel"
        uses: vercel/repository-dispatch/actions/status@v1
        with:
          token: ${{ secrets.VERCEL_TOKEN }}
          state: "success"
          description: "Vercel - andresramirez: lint"
